<div class="container">
    <div class="row">
        <div class="col-sm">
            <img src="assets/img/forte_logo.png" alt="forte_logo" width="200" height="200">
        </div>
        <div class="col-sm">
            <img src="assets/img/grinch.png" alt="grinch" width="200" height="200">
        </div>
      </div>
    <div class="form-group row">
        <div class="alert alert-danger" *ngIf="errorMessages?.length">
            <ul *ngFor="let message of errorMessages">
                <li >{{message}}</li>
            </ul>
        </div>
        <div class="alert alert-success" *ngIf="successMessage">
            {{successMessage}}
        </div>
        <label class="col-sm-2 col-form-label">Bad Santa Name</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" [(ngModel)]="BadSantaName"
            placeholder="Bad Santa Name" >
        </div>
        <label class="col-sm-2 col-form-label">Draw</label>
        <div class="col-sm-10">
            <select class="form-control" [(ngModel)]="Draw" >
                <option>--Select--</option>
                <option *ngFor="let draw of DrawsList">{{draw.DrawTotal}}</option>
            </select>
        </div>
        <div class="col-sm-2 col-form-label">
            <div class="place-number" (click)="addBadSanta()"  (mousedown)="onMousedown()" 
            (mouseup)="onMouseup()" [class.clicked]="clicked">
                {{BadSantaPlace}}
            </div>
        </div>
    </div>
</div>




