<div class="form-group row">
    <div class="alert alert-danger" *ngIf="errorMessages?.length">
        <ul *ngFor="let message of errorMessages">
            <li >{{message}}</li>
        </ul>
    </div>
    <label class="col-sm-2 col-form-label">Bad Santa Name</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)]="BadSantaName"
        placeholder="Bad Santa Name">
    </div>
    <label class="col-sm-2 col-form-label">Bad Santa Place</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)]="BadSantaPlace"
        placeholder="Bad Santa Place" readonly>
    </div>
    <label class="col-sm-2 col-form-label">Draw</label>
    <div class="col-sm-10">
        <select class="form-control" [(ngModel)]="Draw">
            <option>--Select--</option>
            <option *ngFor="let draw of DrawsList">{{draw.DrawTotal}}</option>
        </select>
    </div>
</div>

<button (click)="updateBadSanta()" class="btn btn-primary">
    Update
</button>

<div class="alert alert-success" *ngIf="successMessage">
    {{successMessage}}
</div>
