    <div class="page-header">
      <h1>Forte Family Lawyers</h1>
      <h3>Bad Santa Draw</h3>
    </div>
    
    <nav class="navbar navbar-expand-sm navbar-dark">
      <div class="container-fluid">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/">New Bad Santa</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/badsanta">Bad Santa List</a>
          </li>
        </ul>
      </div>
    </nav>
<router-outlet></router-outlet>

